/.vscode
/beerme/www/__pycache__/
.env
.beerme3/
beerme/beerme/__pycache__/

beer - Copy*
beerme/www/tests/__pycache__/__init__.cpython-311.pyc
beerme/www/tests/__pycache__/tests.cpython-311.pyc
.beerme3/pyvenv.cfg
beerme/www/tests/__pycache__/__init__.cpython-39.pyc
beerme/www/tests/__pycache__/tests.cpython-39.pyc
beerme/www/migrations/__pycache__/
.beerenv/pyvenv.cfg
.beerenv/

files_log.txt
beerme/www/results/__pycache__/__init__.cpython-311.pyc
beerme/www/results/load_results.py
