/.vscode
/beerme/www/__pycache__/
.env
.beerenv/
beerme/beerme/__pycache__/

beerme/www/migrations/

beerme/www/tests/__pycache__/__init__.cpython-311.pyc
beerme/www/tests/__pycache__/tests.cpython-311.pyc
